h1{
    justify-content: center;
    text-align: center;
    color: brown;
}
img{
    height:200px;width:250px;
}
#parent{
    text-align: center;
}

#navbar{
   display: flex;
   justify-content: space-between;
 
   background-color: black;
}
input{
   height:20px;margin-top: 15px;margin-left: 10px;

}
h3{
   padding-right: 20px;
}
